.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px 10px 50px;
  }

.table-sp {
  height: 300px;
  width: 650px;
}

.details {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 500px;
}

.paper-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.info-text {
    width: 100px;
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    color: #413f3d;
}

input {
    font-family: "Anek Telugu", sans-serif;
    padding-left: 20px;
    font-size: 18px;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.info-input {
    margin-left: 10px;
    background-color: transparent;
    height: 35px;
    width: 600px;
    border: 2px solid #d8d0d0;
    border-radius: 4px;
}


.label {
  font-family: "Anek Telugu", sans-serif;
  font-family: "Bebas Neue", cursive;
  font-size: 27px;
  color: #66779ce9;
  margin-right: 50px;
}