.ap-layout {
    display: flex;
    flex-direction: row;
    background-color: #ebe7e7;
    /* background-image: url("/public/4861242.jpg");
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Do not repeat the image */
    /* background-size: cover;  */ 
  }
  