.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8d0d0;
  height: 100vh;
  width: 280px;
  padding: 10px 10px 10px 10px;
  /* box-shadow: rgba(83, 83, 92, 0.158) 0px 7px 29px 0px;  */
  box-shadow: rgba(0, 0, 0, 0.24) 1px 3px 8px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.home-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #413f3d;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  width: fit-content;
  font-family: "Anek Telugu", sans-serif;
  font-family: "Bebas Neue", cursive;
}

.home {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  color: #66779ce9;
}

.menu {
  font-size: 28px;
  color: #413f3d;
  padding: 15px 15px 15px 15px;
}

.btn:hover {
  color: #f2f1ef;
  cursor: pointer;
  transition: 0.2s;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #413f3d;
  width: 250px;
  height: 470px;
}

.logout {
  margin-top: 30px;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  color: #66779ce9;
}
